body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
    align-content: center;
    text-align: center;
}

header {
    background-color: #1DB954;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    color: white;
}

.container {
    padding: 20px;
}

.artist {
    background-color: #1e1e1e;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
}

.artist img {
    width: 100%;
    max-width: 300px;
    border-radius: 8px;
}

.artist h2 {
    margin-top: 10px;
}

footer {
    background-color: #1DB954;
    color: white;
    text-align: center;
    padding: 10px;
}